<div class="hitched">
	<span class="">We are getting hitched</span>
</div>
<div class="ticker">
	<div class="ui massive label ">
	  {{homeCtrl.days}} Daz
	</div>
	<div class="ui massive label ">
	  {{homeCtrl.hours}} Hrs
	</div>
	<div class="ui massive label ">
	  {{homeCtrl.minutes}} Min
	</div>
	<div class="ui massive label ">
	  {{homeCtrl.seconds}} Sec
	</div>
</div>

<div class="ui stackable grid">
  
  <div class="five wide column" ng-show='homeCtrl.events.bridal.name'>
  	<div class="ui card">
		<div class="content">
			<div class="header">Bridal Shower</div>
			<div class="description">
				<p>Bride and Groom shower is on <b><em>March 9, 2016</em></b></p>
				<p>{{homeCtrl.events.bridal.content}}</p>
			</div>
		</div>
		<div class="extra content">
			<span ng-show='!ID'>SignIn to find venue and more about this event.</span>
			<span>
				<p> <b> {{homeCtrl.events.bridal.name}} </b> <br/>
				{{homeCtrl.events.bridal.street}}, {{homeCtrl.events.bridal.city}},{{homeCtrl.events.bridal.state}}, {{homeCtrl.events.bridal.country}}</p>
			</span>
		</div>
	</div>
  </div>

  <div class="five wide column">
  	<div class="ui card">
		<div class="content">
			<div class="header">Wedding</div>
			<div class="description">
				<p>Wedding is on <b><em>March 10, 2016 - 8:30AM</em></b></p>
				<p>{{homeCtrl.events.wedding.content}}</p>
			</div>
		</div>
		<div class="extra content">
			<span ng-show='!ID'>SignIn to find venue and more about this event.</span>
			<span ng-show='homeCtrl.events.wedding.name'>
				<p> <b> {{homeCtrl.events.wedding.name}} </b> <br/>
				{{homeCtrl.events.wedding.street}}, {{homeCtrl.events.wedding.city}},{{homeCtrl.events.wedding.state}}, {{homeCtrl.events.wedding.country}}</p>
			</span>
		</div>
	</div>
  </div>

  <div class="five wide column" ng-show='homeCtrl.events.reception.name'>
  	<div class="ui card">
		<div class="content">
			<div class="header">Reception</div>
			<div class="description">
				<p>Reception is on <b><em>March 11, 2016 - 7:00PM</em></b></p>
				<p>{{homeCtrl.events.reception.content}}</p>
			</div>
		</div>
		<div class="extra content">
			<span ng-show='!ID'>SignIn to find venue and more about this event.</span>
			<span ng-show='homeCtrl.events.reception.name'>
				<p> <b> {{homeCtrl.events.reception.name}} </b> <br/>
				{{homeCtrl.events.reception.street}}, {{homeCtrl.events.reception.city}},{{homeCtrl.events.reception.state}}, {{homeCtrl.events.reception.country}}</p>
			</span>
		</div>
	</div>
  </div>
</div>