<div class="main">
	<img src="images/title_bck.png" alt="">
	<div class="title">
		Raveena And Sujith
	</div>
</div>
<div class="flx">
	<div class="ui secondary pointing menu">
	  <a class="item" data-ng-class="{ active: isActive('/home') }" ui-sref="home">
	    Home
	  </a>
  	<!-- <a class="item" data-ng-class="{ active: isActive('/messages') }" ui-sref="messages" ng-show="!hasNotLoggedIn">
	    Messages
	  </a> -->
	  
	  <div class="right menu">
  		<social-nav></social-nav>
	  </div>
	</div>
</div>