<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title><%= TITLE %></title>
<!-- build:css stylesheets/vendor.min.css -->
<link rel="stylesheet" href="lib/semantic/dist/semantic.min.css">
<link rel="stylesheet" href="stylesheets/base.css">
<!-- endbuild -->